#frm{
    width: 50%;   
    padding-left: 30px; 
}


input.ng-valid{
    border-right: 5px solid green; 
}



input.ng-invalid {
    border-right: 5px solid red;
}

.al{
    color: red;
    background-color: lightpink;
    border-radius: 3px;
    padding-left: 10px;
}