<app-employee></app-employee>

<mat-form-field>
  <!-- <input matInput type="text" name="title" [value]='name'  (input)='processData($event)' ngModel required minlength="3" placeholder="write something" #title="ngModel"> -->
  <input matInput type="text" name="title" [(ngModel)]='name'  required minlength="3" placeholder="write something" #title="ngModel">
  <mat-error *ngIf="title.invalid">Please Enter a post Title</mat-error>
</mat-form-field>
<br>
<button mat-raised-button color="primary" (click)='process()' >Click me!</button>
<br>
{{name}}

<br>
<br>
<app-emp></app-emp>
<br>

<br>
<br>
<app-employee-list></app-employee-list>
<br>
<br>
<p appColorDirective>This is a demo for user directive</p>
<button mat-raised-button appColorDirective>User Defined Directive</button>
<br>
<br>
<input matInput name="case" type="text" placeholder="write here" appChangeCase>
<br>
<br>
<div appDemo>
  This is a Demo Div
</div>
