<h1 align="center">Add</h1>

<div class="card">
    <div class="card-body">
        <div class="container">
            <div><h5>Enter the Details of the Product to be added</h5></div>
            <br>
            <form #userForm='ngForm' (onSubmit)="onSubmit(userForm.value)" >
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" align="left"> Product ID:</label>
                    <input type="number" class="col-sm-8 form-control " placeholder="Enter the Product ID" name="prodId"  ngModel>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" align="left"> Product ID:</label>
                    <input type="number" class="col-sm-8 form-control " placeholder="Enter the Product ID" name="prodId"  ngModel>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" align="left"> Product ID:</label>
                    <input type="number" class="col-sm-8 form-control " placeholder="Enter the Product ID" name="prodId"  ngModel>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" align="left"> Product ID:</label>
                    <input type="number" class="col-sm-8 form-control " placeholder="Enter the Product ID" name="prodId"  ngModel>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" align="left"> Product ID:</label>
                    <input type="number" class="col-sm-8 form-control " placeholder="Enter the Product ID" name="prodId"  ngModel>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" align="left"> Product ID:</label>
                    <input type="number" class="col-sm-8 form-control " placeholder="Enter the Product ID" name="prodId"  ngModel>
                </div>
            </form>
        </div>
    </div>
</div>