<span class="radioClass">Show</span>

<input type="radio" name="options" value="all" [(ngModel)]='srv' (change)='countRadioButtonValueChanged()' />
<span class="radioClass"> {{"All("+all+")"}} </span>

<input type="radio" name="options" value="Male" [(ngModel)]='srv' (change)='countRadioButtonValueChanged()'/>
<span class="radioClass"> {{"Male("+male+")"}} </span>

<input type="radio" name="options" value="Female" [(ngModel)]='srv' (change)='countRadioButtonValueChanged()'/>
<span class="radioClass"> {{"Female("+female+")"}} </span>

