<h1>Employee Details</h1>

<app-employee-count [all]="getAllEmployeesCount()"
[male]="getMaleEmployeesCount()"
[female]="getFemaleEmployeesCount()" (countRadioButtonValue)='OnRadioButtonValueChanged($event)' >
</app-employee-count>

<br>
<br>
<input type="text" [(ngModel)]='searchTerm' >
<br>
<br>
<table id="customers" border="1" >
  <tr>
    <th>Employee Code</th>
    <th>Name</th>
    <th>Gender</th>
    <th>Annual Salary</th>
    <th>Date of Birth</th>
  </tr>
<ng-container *ngFor="let emp of employee | employeeFilter:searchTerm"  >


  <tr  *ngIf='srv=="all" || srv==emp.gender' >
      <td> {{emp.code | uppercase }} </td>
      <td> {{emp.name | employeeTitlePipe:emp.gender}} </td>
      <td> {{emp.gender | lowercase}} </td>
      <td> {{emp.annualSalary | currency:'INR'}} </td>
      <td> {{emp.dateOfBirth|date:'dd/MM/y  '}} </td>
    </tr>
  </ng-container>
</table>
<br>

