<h1>Employee Details</h1>

<app-employee-count [all]="getAllEmployeesCount()"
[male]="getMaleEmployeesCount()"
[female]="getFemaleEmployeesCount()" (countRadioButtonValue)='OnRadioButtonValueChanged($event)' >
</app-employee-count>

<br>
<br>
<table id="customers" border="1">
  <tr>
    <th>Employee Code</th>
    <th>Name</th>
    <th>Gender</th>
    <th>Annual Salary</th>
    <th>Date of Birth</th>
  </tr>
<ng-container *ngFor="let emp of employee">


  <tr  *ngIf='srv=="all" || srv==emp.gender' >
      <td> {{emp.code}} </td>
      <td> {{emp.name}} </td>
      <td> {{emp.gender}} </td>
      <td> {{emp.annualSalary}} </td>
      <td> {{emp.dateOfBirth}} </td>
    </tr>
  </ng-container>
</table>

